#CentralDeck {
  /*background: #444;*/
  width: 100%;
  max-width: 90px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.CentralDeckCard h2 {
  text-align: center;
	background: black;
  color: white;
  padding: 0.2em;
  z-index: 1;
}

.CentralDeckCard {
  position: absolute;
  border-radius: 5px;
  height: 15vh;
  width: 10.8vh;
  border: 5px solid white;
  background: black;
	color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

}

.CentralDeckCard:before {
  transition: 0.2s ease;
  box-shadow: 0 0 0 1px #fff;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 5px;
}

.CentralDeckCard:hover {
	cursor: pointer;
  transform: scale(0.9);
}

.CentralDeckCard:hover:before {
  transform: scale(1.35);
  box-shadow: 0 0 0 3.5px #fff;
  opacity: .5;
}

.CentralDeckCard:active {
	transform: scale(1.35);
}
