#TutorialOverlay {
	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.81);

	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	z-index: 891;

	opacity: 0;

	pointer-events: none;

	overflow-x: auto;
}
